{% extends 'index3.html' %}
{% load static %}
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/routes.css' %}" />
{% endblock %}

{% block maincontent %}
  <!-- Breadcrumbs Area Start Here -->
  <div class="breadcrumbs-area">
    <h3>Transport</h3>
    <ul>
      <li>
        <a href="{% url 'userauth:dashboard' %}">Home</a>
      </li>
      <li>Provider Details</li>
    </ul>
  </div>
  <!-- Breadcrumbs Area End Here -->
  <div class="row">
    <div class="col-lg-6">
      <div class="dashboard-summery-one">
        <div class="row">
          <div class="col-6">
            <div class="item-icon bg-light-magenta" style="padding-top: 10px;">
              <i class="fa-solid fa-hashtag"></i>
            </div>
          </div>
          <div class="col-6">
            <div class="item-content">
              <div class="item-title">Point Number</div>
              <div class="item-number">
                {% if user.appuser.assigned_route.route_num %}
                  <span class="counter" data-num="{{ user.appuser.assigned_route.route_num }}"></span>
                {% else %}
                  <span>None</span>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="dashboard-summery-one">
        <div class="row">
          <div class="col-6">
            <div class="item-icon bg-light-blue" style="padding-top: 10px;">
              <i class="fa-solid fa-person"></i>
            </div>
          </div>
          <div class="col-6">
            <div class="item-content">
              <div class="item-title">Provider Representative Name</div>
              {% if assigned_rep %}
                <div class="item-number">{{ assigned_rep.base_user.name }}</div>
              {% else %}
                <div class="item-number">None</div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="dashboard-summery-one">
        <div class="row">
          <div class="col-6">
            <div class="item-icon bg-light-yellow" style="padding: 10px;">
              <i class="fa-solid fa-user-tie"></i>
            </div>
          </div>
          <div class="col-6">
            <div class="item-content">
              <div class="item-title">Transporter</div>
              {% if user.appuser.assigned_route.appointed_provider.name %}
                <div class="item-number">{{ user.appuser.assigned_route.appointed_provider.name }}</div>
              {% else %}
                <div class="item-number">None</div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="dashboard-summery-one">
        <div class="row">
          <div class="col-6">
            <div class="item-icon bg-light-magenta" style="padding-top: 10px;">
              <i class="fa-solid fa-phone"></i>
            </div>
          </div>
          <div class="col-6">
            <div class="item-content">
              <div class="item-title">Contact Number</div>
              <div class="item-number">
                {% if assigned_rep %}
                  <span>{{ assigned_rep.base_user.contact }}</span>
                {% else %}
                  <span>None</span>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="dashboard-summery-one">
        <div class="row">
          <div class="col-6">
            <div class="item-icon bg-light-blue" style="padding-top: 10px;">
              <i class="fa-solid fa-id-badge"></i>
            </div>
          </div>
          <div class="col-6">
            <div class="item-content">
              <div class="item-title">CNIC</div>
              {% if assigned_rep %}
                <div class="item-number">{{ assigned_rep.representative_cnic }}</div>
              {% else %}
                <div class="item-number">None</div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="dashboard-summery-one">
        <div class="row">
          <div class="col-6">
            <div class="item-icon bg-light-yellow" style="padding: 10px;">
              <i class="fa-solid fa-bus-simple"></i>
            </div>
          </div>
          <div class="col-6">
            <div class="item-content">
              <div class="item-title">Rep Email</div>
              {% if assigned_rep %}
                <div class="item-number">{{ assigned_rep.base_user.email }}</div>
              {% else %}
                <div class="item-number">None</div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block customjs %}

{% endblock %}
