{% extends 'index3.html' %}
{% load static %}
{% block customcss %}
  <style>
    .row {
      align-items: center;
      justify-content: center;
    }
  </style>
{% endblock %}

{% block maincontent %}
  <!-- Breadcrumbs Area Start Here -->
  <div class="breadcrumbs-area">
    <h3>Transport Card</h3>
    <ul>
      <li>
        <a href="{% url 'userauth:dashboard' %}">Home</a>
      </li>
      <li>Transport Card</li>
    </ul>
  </div>
  <!-- Breadcrumbs Area End Here -->

  <!-- Dashboard Content Start Here -->
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card dashboard-card-twelve">
        <div class="card-body">
          <div class="heading-layout1">
            <div class="item-title">
              <h3>Transport Identity Card</h3>
            </div>
            <div class="dropdown"></div>
          </div>
          <div class="kids-details-wrap">
            <div class="kids-details-box">
              <div class="item-img">
                <img src="{{ user.imageURL }}" alt="student" />
              </div>
              <div class="item-content table-responsive">
                <table class="table text-nowrap">
                  <tbody>
                    <tr>
                      <td>Name:</td>
                      <td>{{ user.name }}</td>
                    </tr>
                    <tr>
                      <td>Roll Number:</td>
                      <td>{{ user.roll_num }}</td>
                    </tr>
                    <tr>
                      <td>Gender:</td>
                      <td>{{ user.gender }}</td>
                    </tr>
                    <tr>
                      <td>Department</td>
                      <td>{{ user.department }}</td>
                    </tr>
                    <tr>
                      <td>Pick and drop stop:</td>
                      <td>{{ user.assigned_route.start_stop.name }}</td>
                    </tr>
                    <tr>
                      <td>Route#:</td>
                      <td>{{ user.assigned_route.route_num }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- QR Code Section -->
            <div class="qr-code-section text-center mt-4">
              <h4>Scan QR Code</h4>
              <img id="qrCodeImage" src="{% static 'path/to/qr-code-image.png' %}" alt="QR Code" />
              <p>Your Point Card QR Code</p>
            </div>
            <!-- Download Button -->
            <div class="text-center mt-3">
              <a href="download_point_card.html" class="btn btn-primary">Download Point Card</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block customjs %}

{% endblock %}
