{% extends 'index3.html' %}

{% block maincontent %}
  <div class="breadcrumbs-area">
    <h3>Notice Board</h3>
    <ul>
      <li>
        <a href="index3.html">Home</a>
      </li>
      <li>Notice</li>
    </ul>
  </div>
  <!-- Breadcubs Area End Here -->
  <div class="row" style=" justify-content: center; align-items: center;">
    <!-- All Notice Area Start Here -->
    <div style="width: 95%;">
      <div class="card height-auto">
        <div class="card-body">
          <div class="heading-layout1">
            <div class="item-title">
              <h3>Notice Board</h3>
            </div>
          </div>
          <form class="mg-b-20">
            <div class="row gutters-8">
              <div class="col-lg-5 col-12 form-group">
                <input type="text" placeholder="Search by Title ..." class="form-control" />
              </div>
              <div class="col-lg-2 col-12 form-group">
                <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
              </div>
            </div>
          </form>
          <div class="notice-board-wrap">
            <div class="notice-list">
              {% if notices %}
                {% for notice in notices %}
                  <div class="post-date bg-skyblue">{{ notice.date_posted }}</div>
                  <h6 class="notice-title"><a href="#">{{ notice.message }}</a></h6>
                  <div class="entry-meta">By Admin</div>
                {% endfor %}
              {% else %}
                <h6 class="notice-title">No New Notifications yet!</h6>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
