.route-list {
    list-style-type: none;
    padding: 0;
}

.route-item {
    cursor: pointer;
    padding: 10px 15px;
    background-color: #f8f9fa; /* Light background for the routes */
    margin: 5px 0 20px;
    border-radius: 8px; /* Rounded corners */
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.route-item:hover {
    background-color: #e2e6ea; /* Slightly darker shade on hover */
}

.stop-list {
    list-style-type: none;
    margin: 10px 40px;
    padding: 10px;
    padding-left: 0px;
    border-radius: 6px; /* Rounded corners for dropdown */
    display: none;
}

.stop-list li {
    padding: 8px 20px; /* Increased padding for better spacing */
    margin-bottom: 8px; /* Space between each stop */
    background-color: #f8f9fa; /* Light background for individual stops */
    border-radius: 4px; /* Slightly rounded stops */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow for stops */
}

.stop-list li:last-child {
    margin-bottom: 0; /* Remove space below the last stop */
}

.dropdown-icon {
    margin-right: 10px;
    transform: rotate(0deg);
    transition: transform 0.2s, color 0.3s;
    color: #6c757d; /* Neutral icon color */
}

.dropdown-icon.open {
    transform: rotate(90deg);
    color: #495057; /* Darker shade when expanded */
}
