{% extends 'index.html' %}

{% load static %}

{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/routes.css' %}" />
{% endblock %}

{% block maincontent %}
  <div class="breadcrumbs-area">
    <h3>Add Route</h3>
    <ul>
      <li>
        <a href="{% url 'transport:transport-dashboard' %}">Home</a>
      </li>
      <li>Add New Route</li>
    </ul>
  </div>
  
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <form method="POST">
              {% csrf_token %}
              <div class="form-group">
                <label for="route_num">Route Number</label>
                {{ form.route_num }}
              </div>
              <div class="form-group">
                <label for="start_stop">Start Stop</label>
                {{ form.start_stop }}
              </div>
              <div class="form-group">
                <label for="appointed_provider">Transport Provider</label>
                {{ form.appointed_provider }}
              </div>
              <div class="form-group">
                <label for="stops">Select Stops</label>
                {{ form.stops }}
              </div>
              <button type="submit" class="btn btn-primary">Add Route</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
