{% extends 'index.html' %}
{% load static %}

{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/routes.css' %}" />
{% endblock %}

{% block maincontent %}
  <div class="breadcrumbs-area">
    <h3>Transport</h3>
    <ul>
      <li>
        <a href="{% url 'transport:transport-dashboard' %}">Home</a>
      </li>
      <li>All Driver Lists</li>
    </ul>
  </div>
  <!-- Breadcrumbs Area End Here -->

  <!-- Search and Driver List Area Start -->

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table display data-table text-nowrap">
              <thead>
                <tr>
                  <th>Provider Name</th>
                  <th>Driver CNIC</th>
                  <th>Driver Name</th>
                  <th>Driver License</th>
                  <th>Contact Number</th>
                </tr>
              </thead>
              <tbody>
                {% if providers %}
                  {% for provider in providers %}
                    {% for driver in provider.drivers %}
                      <tr>
                        <td>{{ provider.provider_name }}</td> <!-- Corrected to show provider name -->
                        <td>{{ driver.driver_cnic }}</td> <!-- Corrected to show vehicle license -->
                        <td>{{ driver.driver_name }}</td> <!-- Corrected to show driver name -->
                        <td>{{ driver.driver_license }}</td> <!-- Corrected to show driver license -->
                        <td>{{ driver.driver_contact }}</td> <!-- Corrected to show driver contact -->
                      </tr>
                    {% endfor %}
                  {% endfor %}
                {% else %}
                  <tr>
                    <td colspan="6" class="text-center">No results found.</td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block customjs %}
  <!-- Custom JS if needed -->
{% endblock %}
