{% extends 'index.html' %}
{% load static %}

{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/routes.css' %}" />
{% endblock %}

{% block maincontent %}
  <div class="breadcrumbs-area">
    <h3>Driver</h3>
    <ul>
      <li>
        <a href="{% url 'transport:transport-dashboard' %}">Home</a>
      </li>
      <li>Driver</li>
    </ul>
  </div>
  
  <div class="row">
    <div class="col-12">
      <div class="card height-auto">
        <div class="card-body">
          <div class="heading-layout1">
            <div class="item-title">
              <h3>All Driver Lists</h3>
            </div>
            <div class="dropdown">
              <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">...</a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
              </div>
            </div>
          </div>

          <!-- Search Form Start -->
          <form class="mg-b-20">
            <div class="row gutters-8">
              <div class="col-lg-4 col-12 form-group">
                <input type="text" placeholder="Search by Route ..." class="form-control" />
              </div>
              <div class="col-lg-3 col-12 form-group">
                <input type="text" placeholder="Search by Car Number ..." class="form-control" />
              </div>
              <div class="col-lg-3 col-12 form-group">
                <input type="text" placeholder="Search by Phone ..." class="form-control" />
              </div>
              <div class="col-lg-2 col-12 form-group">
                <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
              </div>
            </div>
          </form>
          <!-- Search Form End -->

          <div class="table-responsive">
            <table class="table display data-table text-nowrap">
              <thead>
                <tr>
                  <th>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input checkAll" />
                      <label class="form-check-label">Route Name</label>
                    </div>
                  </th>
                  <th>Vehicle No</th>
                  <th>Driver Name</th>
                  <th>Driver License</th>
                  <th>Contact Number</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for driver in drivers %}
                  <tr>
                    <td>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" />
                        <label class="form-check-label">{{ driver.route_name }}</label>
                      </div>
                    </td>
                    <td>{{ driver.vehicle_no }}</td>
                    <td>{{ driver.name }}</td>
                    <td>{{ driver.license }}</td>
                    <td>{{ driver.contact_number }}</td>
                    <td>
                      <div class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="flaticon-more-button-of-three-dots"></span></a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                          <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                          <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                {% empty %}
                  <tr>
                    <td colspan="6" class="text-center">No drivers found</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
