{% extends 'index3.html' %}
{% load static %}
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/routes.css' %}" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
{% endblock %}

{% block maincontent %}
  <div class="breadcrumbs-area">
    <h3>Tracking</h3>
    <ul>
      <li>
        <a href="{% url 'transport:transport-dashboard' %}">Home</a>
      </li>
      <li>Cybertrack Links</li>
    </ul>
  </div>
  <!-- Breadcrumbs Area End Here -->
  <div class="row">
    <!-- All Transport List Area Start Here -->
    <div class="col-12">
      <div class="card height-auto">
        <div class="card-body">
          <div class="heading-layout1">
            <div class="item-title">
              <h3>All CyberTrack Tracking Lists</h3>
            </div>
          </div>
          
          <div class="table-responsive">
            <table class="table display data-table text-nowrap">
              <thead>
                <tr>
                  <th>Route Number</th>
                  <th>Vehicle No</th>
                  <th>Driver Name</th>
                  <th>Username</th>
                  <th>Password</th>
                </tr>
              </thead>
              <tbody>
                <tr><td>2</td><td>JF-1010</td><td>Qaisar</td><td><a href="#" class="copy-username" data-clipboard-text="cbt@route02.com">cbt@route02.com</a></td><td>8159</td></tr>
                <tr><td>3</td><td>JE-9716</td><td>Zeeshan</td><td><a href="#" class="copy-username" data-clipboard-text="cbt@route03.com">cbt@route03.com</a></td><td>9654</td></tr>
                <tr><td>3b</td><td>JE-9090</td><td>Munna</td><td><a href="#" class="copy-username" data-clipboard-text="cbt@route03b.com">cbt@route03b.com</a></td><td>0.875</td></tr>
                <tr><td>4</td><td>P-1061</td><td>Mali</td><td><a href="#" class="copy-username" data-clipboard-text="cbt@route04.com">cbt@route04.com</a></td><td>5373</td></tr>
                <tr><td>4b</td><td>JB-586</td><td>Tahir</td><td><a href="#" class="copy-username" data-clipboard-text="cbt@route04b.com">cbt@route04b.com</a></td><td>9377</td></tr>
                <tr><td>5</td><td>JB-1821</td><td>Salman</td><td><a href="#" class="copy-username" data-clipboard-text="cbt@route05.com">cbt@route05.com</a></td><td>3242</td></tr>
                <tr><td>5b</td><td>P-0697</td><td>Jibran</td><td><a href="#" class="copy-username" data-clipboard-text="cbt@route05b.com">cbt@route05b.com</a></td><td>0.697</td></tr>
                <tr><td>6</td><td>JA-7696</td><td>Babu</td><td><a href="#" class="copy-username" data-clipboard-text="cbt@route06.com">cbt@route06.com</a></td><td>7696</td></tr>
                <tr><td>6b</td><td>JB-7940</td><td>Ahsan</td><td><a href="#" class="copy-username" data-clipboard-text="cbt@route06b.com">cbt@route06b.com</a></td><td>7940</td></tr>
                <tr><td>7</td><td>CB-3300</td><td>Assad</td><td><a href="#" class="copy-username" data-clipboard-text="cbt@route07.com">cbt@route07.com</a></td><td>3300</td></tr>
                <tr><td>8</td><td>JE-6588</td><td>Fayyaz</td><td><a href="#" class="copy-username" data-clipboard-text="cbt@route08.com">cbt@route08.com</a></td><td>5998</td></tr>
                <tr><td>9</td><td>CL-4287</td><td>Aslam</td><td><a href="#" class="copy-username" data-clipboard-text="cbt@route09.com">cbt@route09.com</a></td><td>4287</td></tr>
                <tr><td>10</td><td>JA-9645</td><td>Wazir</td><td><a href="#" class="copy-username" data-clipboard-text="cbt@route010b.com">cbt@route010b.com</a></td><td>0.038</td></tr>
                <tr><td>18</td><td>JE-2310</td><td>Hasnain</td><td><a href="#" class="copy-username" data-clipboard-text="cbt@route18.com">cbt@route18.com</a></td><td>2310</td></tr>
                <tr><td>20</td><td>JE-5099</td><td>Shani</td><td><a href="#" class="copy-username" data-clipboard-text="cbt@route20.com">cbt@route20.com</a></td><td>5099</td></tr>
                <tr><td>23</td><td>JE-0243</td><td>Sultan</td><td><a href="#" class="copy-username" data-clipboard-text="cbt@route23.com">cbt@route23.com</a></td><td>0.243</td></tr>
                <tr><td>23b</td><td>JF-0955</td><td>Fahad</td><td><a href="#" class="copy-username" data-clipboard-text="cbt@route23b.com">cbt@route23b.com</a></td><td>0.955</td></tr>
                <tr><td>24</td><td>BSA-393</td><td>Javid</td><td><a href="#" class="copy-username" data-clipboard-text="cbt@route24.com">cbt@route24.com</a></td><td>393</td></tr>
                <tr><td>24b</td><td>JE-2073</td><td>Nadeem</td><td><a href="#" class="copy-username" data-clipboard-text="cbt@route24b.com">cbt@route24b.com</a></td><td>2073</td></tr>
                <tr><td>25</td><td>JE-2729</td><td>Sabir</td><td><a href="#" class="copy-username" data-clipboard-text="cbt@route25.com">cbt@route25.com</a></td><td>2785</td></tr>
                <tr><td>25b</td><td>CL-6485</td><td>Zakir</td><td><a href="#" class="copy-username" data-clipboard-text="cbt@route25b.com">cbt@route25b.com</a></td><td>6473</td></tr>
                <tr><td>26</td><td>JE-9714</td><td>Sajid</td><td><a href="#" class="copy-username" data-clipboard-text="cbt@route26.com">cbt@route26.com</a></td><td>0.643</td></tr>
                <tr><td>26b</td><td>JE-3271</td><td>Zahid</td><td><a href="#" class="copy-username" data-clipboard-text="cbt@route26b.com">cbt@route26b.com</a></td><td>0.876</td></tr>
                <tr><td>27</td><td>JE-2090</td><td>Ajmal</td><td><a href="#" class="copy-username" data-clipboard-text="cbt@route27.com">cbt@route27.com</a></td><td>2039</td></tr>
              </tbody>
            </table>
          </div>

          <!-- QR Code for CyberTrack -->
          <div class="qr-code-section text-center mt-4">
            <h4>Open CyberTrack on Web</h4>
            <img src="{% static 'img/qrcode.png' %}" alt="CyberTrack QR Code" style="width: 200px; height: 200px;" />
            <p>Scan the QR code to open CyberTrack on your browser.</p>
          </div>

        </div>
      </div>
    </div>
    <!-- All Transport List Area End Here -->
  </div>
{% endblock %}

{% block customjs %}
  <script>
    // Initialize clipboard.js for copying usernames
    var clipboard = new ClipboardJS('.copy-username');

    clipboard.on('success', function(e) {
      alert('Username copied to clipboard: ' + e.text);
    });

    clipboard.on('error', function(e) {
      alert('Error copying to clipboard!');
    });
  </script>
{% endblock %}
