{% extends 'index3.html' %}
{% load static %}

{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/loginbg.css' %}" />
{% endblock %}

{% block header %}

{% endblock %}

{% block sidebar %}

{% endblock %}

{% block maincontent %}
  <div class="login-page-wrap">
    <div class="login-page-content">
      <div class="login-box">
        <div class="item-logo">
          <img src="{% static 'img/logo3.png' %}" alt="logo" style="height:10rem" />
        </div>
        <form method="POST" class="login-form">
          {% csrf_token %}
          <div class="form-group">
            <label>Transporter Email</label>
            {{ form.email }}
            <i class="far fa-envelope"></i>
          </div>
          <div class="form-group">
            <label>Password</label>
            {{ form.password }}
            <i class="fas fa-lock"></i>
          </div>
          <div class="form-group">
            {{ form.captcha }}
            {% if form.captcha.errors %}
              <div class="error">
                {% for error in form.captcha.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <div class="form-group d-flex align-items-center justify-content-between">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="remember-me" />
              <label for="remember-me" class="form-check-label">Remember Me</label>
            </div>
            <a href="#" class="forgot-btn">Forgot Password?</a>
          </div>
          {% if messages %}
            <ul class="messages">
              {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          <div class="form-group">
            <button type="submit" class="login-btn">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}

{% endblock %}
