{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Thanks for your payment!</title>
    <link rel="stylesheet" href="{% static 'css/success.css' %}" />
  </head>
  <body>
    <section>
      <p>
        Payment Successful! For further Queries, email at
        <a href="mailto:k224212@nu.edu.pk">k224212@nu.edu.pk</a>.
        <a href="mailto:k224634@nu.edu.pk">k224634@nu.edu.pk</a>.
        <a href="mailto:l226754.lhr@nu.edu.pk">l226754.lhr@nu.edu.pk</a>.
      </p>
    </section>
  </body>
</html>
