{% extends 'index3.html' %}
{% load static %}
{% block customcss %}

{% endblock %}

{% block maincontent %}
  <div class="breadcrumbs-area">
    <h3>Payment</h3>
    <ul>
      <li>
        <a href="{% url 'userauth:dashboard' %}">Home</a>
      </li>
      <li>Payment History</li>
    </ul>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card height-auto">
        <div class="card-body">
          <div class="heading-layout1">
            <div class="item-title">
              <h3>All Payments</h3>
            </div>
          </div>
          <form class="mg-b-20">
            <div class="row gutters-8"></div>
          </form>
          <div class="table-responsive col-12">
            {% if payments %}
              <table class="table data-table text-nowrap">
                <thead>
                  <tr>
                    <th>
                      <div class="form-check">
                        <label class="form-check-label">ID</label>
                      </div>
                    </th>
                    <th>Amount</th>
                    <th>Date Paid</th>
                    <th>Status</th>
                    <th>Payment Mode</th>
                    <th>Depositer Name</th>
                    <th>Depositer CNIC</th>
                    <th>Reciept</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for payment in payments %}
                    <tr>
                      <td>
                        <div class="form-check">
                          <label class="form-check-label">{{ payment.payment_id }}</label>
                        </div>
                      </td>
                      <td>{{ payment.amount }}</td>
                      <td>{{ payment.date }}</td>
                      {% if payment.voucher.status.status_name == 'Succeeded' %}
                        <td class="badge badge-pill badge-success d-block mg-t-8">Paid</td>
                      {% else %}
                        <td class="badge badge-pill badge-danger d-block mg-t-8">Due</td>
                      {% endif %}
                      <td>{{ payment.method.method_name }}</td>
                      <td>{{ payment.user.base_user.name }}</td>
                      <td>{{ payment.user.cnic }}</td>
                      <td>
                        <a href="{{ payment.receipt.browser_view }}">View Online Reciept here</a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
              <table class="table data-table text-nowrap">
                <thead>
                  <tr>
                    <th>
                      <div class="form-check">
                        <label class="form-check-label">No Payments Yet!</label>
                      </div>
                    </th>
                  </tr>
                </thead>
              </table>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block customjs %}

{% endblock %}
